SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=brand_king_db
DB_USER=priyanka
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=5433

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=yourcompany@gmail.com
EMAIL_HOST_PASSWORD=your_16_digit_google_app_password
DEFAULT_FROM_EMAIL=yourcompany@gmail.com